### Задание 44
    В ячейке ниже представлен код генерирующий DataFrame, которая состоит всего из 1 столбца. Ваша задача перевести его в one hot вид. Сможете ли вы это сделать без get_dummies?

import random
lst = ['robot'] * 10
lst += ['human'] * 10
random.shuffle(lst)
data = pd.DataFrame({'whoAmI':lst})
data.head() |

In [84]:
import pandas as pd
import random

lst = ['robot'] * random.randint(5,15)
lst += ['human'] * random.randint(5,15)
lst += ['sosedka'] * random.randint(5,15)
random.shuffle(lst)
data = pd.DataFrame({'who Am I':lst})
data.head()

  who Am I
0  sosedka
1    robot
2  sosedka
3    human
4  sosedka

In [85]:
pd.get_dummies(data['who Am I'])

    human  robot  sosedka
0   False  False     True
1   False   True    False
2   False  False     True
3    True  False    False
4   False  False     True
5    True  False    False
6   False   True    False
7    True  False    False
8   False  False     True
9   False   True    False
10  False   True    False
11  False  False     True
12   True  False    False
13  False   True    False
14  False   True    False
15  False  False     True
16   True  False    False
17  False   True    False
18   True  False    False
19  False  False     True
20   True  False    False
21   True  False    False
22   True  False    False
23  False  False     True
24  False   True    False
25   True  False    False
26  False  False     True
27  False   True    False
28  False   True    False

In [87]:
data.loc[data['who Am I'] == 'robot', 'robot'] = 1
data.loc[data['who Am I'] != 'robot', 'robot'] = 0
data.loc[data['who Am I'] == 'human', 'human'] = 1
data.loc[data['who Am I'] != 'human', 'human'] = 0
data.loc[data['who Am I'] == 'sosedka', 'sosedka'] = 1
data.loc[data['who Am I'] != 'sosedka', 'sosedka'] = 0
data[['robot', 'human', 'sosedka']]

   robot human sosedka
0      0     0       1
1      1     0       0
2      0     0       1
3      0     1       0
4      0     0       1
5      0     1       0
6      1     0       0
7      0     1       0
8      0     0       1
9      1     0       0
10     1     0       0
11     0     0       1
12     0     1       0
13     1     0       0
14     1     0       0
15     0     0       1
16     0     1       0
17     1     0       0
18     0     1       0
19     0     0       1
20     0     1       0
21     0     1       0
22     0     1       0
23     0     0       1
24     1     0       0
25     0     1       0
26     0     0       1
27     1     0       0
28     1     0       0

In [88]:
import pandas as pd 
import random

lst = ['robot'] * random.randint(5,15)
lst += ['human'] * random.randint(5,15)
lst += ['sosedka'] * random.randint(5,15)
random.shuffle(lst)
data = pd.DataFrame({'who Am I': lst})
# print(data)
print()
#------------------------------------------------------#

data['tmp'] = 1
data.set_index([data.index, 'who Am I'], inplace=True)
data = data.unstack(level = 1, fill_value = 0).astype(int)
data.columns = data.columns.droplevel()
data.columns.name = None
print(data)

    human  robot  sosedka
0       0      1        0
1       1      0        0
2       0      1        0
3       1      0        0
4       0      0        1
5       0      1        0
6       1      0        0
7       0      1        0
8       1      0        0
9       0      0        1
10      1      0        0
11      0      0        1
12      1      0        0
13      0      0        1
14      0      0        1
15      0      0        1
16      0      1        0
17      1      0        0
18      1      0        0
19      0      1        0
20      0      1        0
21      0      0        1